.ftco-section{
    background-image: url(/images/back2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 0%;
    min-height: 100vh;
}

.header a{
    font-size: 15px;
}


.navbar , .container-fluid{
    background: none !important;
}


.container{
    margin-top: 20px;
}
.container h3{
    font-size: 30px;
    font-weight: 600;
    color: rgb(44, 1, 31) !important;
}
.login-wrap{
    background-color: rgb(252, 252, 252);
}
.login-wrap *{
    color: black !important;
}
.login-wrap input{
    background-color: white; 
}
.login-wrap input::placeholder{
    color:  black !important;

}
.container button{
    color: white !important;
    background-color: rgb(13,1,44) !important;
    /* margin: 30px; */
    border: 1px solid #fff;
    /* padding: 0.4em; */
    box-shadow: 0 0 0rem #fff,
                0 0 0rem #fff,
                0 0 1rem #bc13fe,
                0 0 0rem #bc13fe,
                0 0 0rem #bc13fe !important; 
}
.container button:hover{
    color: white !important;
    background-color: rgb(44, 1, 31) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color white ease-in-out 0s !important;
    background: transparent !important;
}










/* ---------------footer------------ */
.mid3{
    margin-top: 100px;
    color: rgb(194, 189, 189);
    width: 100%;
    background: rgb(0, 0, 0);
    min-height: 60vh;
    border-top: 0.2rem  solid #fff;
    border-bottom: 0.2rem  solid #fff;
    /* padding: 0.4em; */
    box-shadow: 0 1rem #fff,
                0 1rem #fff,
                0 0 1rem #bc13fe,
                0 0 1rem #bc13fe,
                0 0 1rem #bc13fe,
                inset 0 0 0.5rem #bc13fe;
}
